VITE_FIREBASE_API_KEY=AIzaSyCd7z9Tmw-6wKAQGc9xLJWFVmZsmw396AI
VITE_FIREBASE_AUTH_DOMAIN=studio37new.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=studio37new
VITE_FIREBASE_APP_ID=1:671822284319:web:cbbc271b71342de271b72a
VITE_FIREBASE_MEASUREMENT_ID=G-L8MQGW31MP
VITE_FIREBASE_MESSAGING_SENDER_ID=671822284319
VITE_FIREBASE_STORAGE_BUCKET=studio37new.firebasestorage.app